<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>About Us</h2>
    <p>We're pretty cool</p>
    <a href="/contaact" class="btn btn-lg btn-primary">Contact</a>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  About us
</div>
