<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>Welcome!</h2>
    <p>Its purty nice right?</p>
    <a href="/" class="btn btn-lg btn-primary">Click me!</a>
    <a href="/contact" class="btn btn-lg btn-primary">Contact</a>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  This is the homepage.
</div>
